<!DOCTYPE HTML>
<html>
	<head>
		<title>Migrash Farm</title>
		<link rel='stylesheet' href='css/style.css'>
	</head>

	<body>
		<header><h1>Migrash Farm</h1></header>
		
		<div id='body'>
			{{{body}}}
		</div>	

	</body>	

</html>