header p{
	
	text-align: center;
	color: blue;
	font-family: 'League Script';
	font-size: 75px;
	/*border-bottom: 1px double blue;*/
	padding-bottom: 3px;
	margin: 15px;
	margin-top: 20px;
	height: 50%;
	/*position: absolute;*/
	z-index: 99;
}

body{
	z-index: 99;
}

h1{
	font-size: 3em;
	font-family: 'Amatic SC';
	color: #E89D0C; /*F2B950*/
	text-indent: 1%;
	margin: 0;
	background-color: #403C39;
	position: relative;
	z-index: 99,
}

h2{
	font-size: 2em;
	font-family: 'Amatic SC';
	color: #E89D0C;
	text-indent: 1%;
	position: relative;
	z-index: 99;
}

p{
	font-family: 'Amatic SC';
	color: #403C39;
	font-size: 1.5em;
	position: relative;
	z-index: 99;
}

#bgImg{
	height: 100%;
	width: 100%;
	display: block;
	margin-left: auto;
	margin-right: auto;
	position: relative;
	z-index: 1;
}

#prodGrid{
	margin: 0 3%;
}

.item{
	float: left;
	margin: 0 4% 4%;
}


