html,body{
	margin: 0;
	background-color: #fff2f4;	
	font-family: 'penna';
}

header{
	width: 100%;
	position: absolute;
	z-index: 99;
}

header p{
	text-align: center;
	font-family: 'penna';
	font-size: 100px;
	margin: 0;
	position: relative;
	z-index: 99;
}

#est{
	margin: 15px;
	font-size: 40px;
	font-family: 'penna';
	position: relative;
	z-index: 99;
}

hr{
	width: 50%;
	margin-top: 20px;
	margin-bottom: 20px;
	border: 0; 
  	height: 1px; 
  	background-image: -webkit-linear-gradient(left, #fff2f4, #000000, #fff2f4);
  	background-image: -moz-linear-gradient(left, #fff2f4, #000000, #fff2f4);
  	background-image: -ms-linear-gradient(left, #fff2f4, #000000, #fff2f4);
  	background-image: -o-linear-gradient(left, #fff2f4, #000000, #fff2f4); 
}

#bgImg{
	clear: both;
	height: 1000px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
	opacity: 0.05;
	position: relative
	z-index: 1;
}

.page{
	margin: 20px;
	margin-top: -800px;
	text-align: left;
	position: absolute;
	z-index: 99;
}

.page a{
	text-decoration: none;
}

.title{
	font-size: 40px;
	font-family: 'penna';
}

.cat1{
	font-size: 30px;
	font-family: 'penna';
}

p {
	font-size: 15px;
	font-family: 'work sans';
	font-weight: 200;
}	

a{
	color: black;
}

a:visited{
	color: black;
}

.cats{
	width: 1200px;
	text-align: center;	
}

.lineItem{
	margin: 2em 1em;
	border:1px solid #fff;
}

label{
	font-weight: bold;
	font-family: sans-serif;
	display: block;
	float: left;
	width: 10em;
	clear:left;	
}

.field .notesField{
	display: block;
	float: left;
	clear: right;
}
