<!DOCTYPE html>
<html>
	<head>
		<title>JRS Brides</title>
		<link rel="stylesheet" type="text/css" href="css/style.css">
		<script src="https://use.typekit.net/wlx6hzo.js"></script>
		<script>try{Typekit.load({ async: true });}catch(e){}</script>
		<link href='https://fonts.googleapis.com/css?family=Poiret+One|Handlee|Clicker+Script|Khula:400,300|Roboto:400,300,100|Work+Sans:400,100,200,300' rel='stylesheet' type='text/css'>
	</head>

	<body>
		
		<!-- <header id="logo">
			<p><a href='http://104.131.84.51:8000/'>JRS Brides</a></p>
			<hr>
			<p id="est">Est. 2010</p>
		</header> -->

		<!-- <img id='bgImg' src='img/backgrounds/ornategrey.jpg'/> -->

		<div class='content'>
			
			{{{ body }}}

		</div>	
	
		<footer>
		</footer>
			
	</body>	

</html>