<div class= 'page'>
	
	<p class='title'>{{title}}</p>

	<div class='cats'>

		<p class='cat1'>phone</p>
		<p>{{phone}}</p>

		</br>

		<p class='cat1'>address</p>
		<p>{{address}}</p>

		</br>

		<p class='cat1'>email</p>
		<p>{{email}}</p>

	</div>

</div>