<div id='HPage'>

	<p class='title' id='contact'><a href="/contact">{{nav1}}</a></p>
	
	<p class='title' id='gallery'><a href="/gallery">{{nav2}}</a></p>
	
	<p class='title' id='appt'><a href="/appts">{{nav3}}</a></p>
	
	<p class='title' id='servsRates'><a href="/servicesandrates">{{nav4}}</a></p>

</div>