<div class= 'page'>

	<p class='title'>Thanks, {{name}}!</p>
	<p>Your appointment request has been received. You will be contacted with an appointment confirmation soon.</p>

	</br>

	<p class='navBlurbs'>Return to <a href='/appts'>previous page</a> or the <a href='/'>homepage</a>.</p>

</div>	