<div class= 'page'>

	<p class='title'>{{title}}</p>


	<form method="post" action="/input">
		<div class="lineItem">
			<label>Date</label> 
			<div class="field"><input type="date" name="date" class="data"/></div>
		</div>
		</br>
		<div class="lineItem">
			<label>Sales</label> 
			<div class="field">$<input type="number" name="sales" class="data"/></div>
		</div>
		</br>
		<div class="lineItem">
			<label>Total CC Tips at EOD</label> 
			<div class="field">$<input type="number" name="ccTotal" class="data"/></div>
		</div>
		</br>
		<div class="lineItem">
			<label>Total Cash at EOD</label> 
			<div class="field">$<input type="number" name="cashTotal" class="data"/></div>
		</div>
		</br>
		<div class="lineItem">
			<label>Cash Due</label> 
			<div class="field">$<input type="number" name="cashDue" class="data"/></div>
		</div>
		</br>
		<div class="lineItem">
			<label>Tipout</label> 
			<div class="field">$<input type="number" name="tipout" class="data"/></div>
		</div>
		</br>
		<input type="submit" class="regButton"/>
	</form>