<div class= 'page'>

	<p class='title'>Earnings:</p>

		<p>
			You made a total of <b>${{totalTips}}</b> today.
	    </p>
		
		<p>Your tipout percentage is <b>{{tipoutPC}}%</b></p>


	</br>

	<p class='navBlurbs'>Return to <a href='/calc'>previous page</a> or the <a href='/'>homepage</a>.</p>

</div>	