<!DOCTYPE html>
<html>
	<head>
		<title>JRS Brides</title>
		<link rel="stylesheet" type="text/css" href="css/style.css">
		<script src="https://use.typekit.net/wlx6hzo.js"></script>
		<link href='https://fonts.googleapis.com/css?family=Poiret+One|Handlee|Khula:400,300|Roboto:400,300,100|Work+Sans:400,100,200,300' rel='stylesheet' type='text/css'>
		<script>try{Typekit.load({ async: true });}catch(e){}</script>

	</head>

	<body>
		
		<header id="logo">
			<p>JR S Brides</p>
			<hr>
			<p id="est">Est. 2010</p>
		</header>

		<img id='bgImg' src='img/Fleur_de_Lis.jpg'/>

		<div class='content'>
			
			{{{ body }}}

		</div>	
	
		<footer>
		</footer>
			
	</body>	

</html>