<!DOCTYPE HTML>
<html>
	<head>
		<title>Migrash Farm</title>
		<link rel='stylesheet' href='migrash.css'>
		<link href='https://fonts.googleapis.com/css?family=Amatic+SC|Homemade+Apple|Reenie+Beanie|Leckerli+One|Just+Me+Again+Down+Here|Sue+Ellen+Francisco|Over+the+Rainbow|League+Script' rel='stylesheet' type='text/css'>
	</head>

	<body>
		
		<div id='wrapper'>

			<header>
				<p id='title'>Migrash Farm</p>

			<div id='nav'>	
				<p class='navItem'><a href='/ourproducts'>Products</a></p>
				<p class='navItem'>About</p>
				<p class='navItem'>Contact</p>
			</div>	

			</header>

			<img id='bgImg' src='img/field.jpeg'/>

		</div>	

	</body>	

</html>