body{
	overflow-x: hidden;
	padding-right: 20px;
	margin: 0;
}

header{
	width: 100%;
	height: 116px;
	margin: 0 auto;
	padding: 0;
	background: white;
	mix-blend-mode: lighten;
	position: fixed;
	z-index: 2;

}

h1{
	/*float:left; makes it go off the page*/
	margin-top: 0;
	margin-left: 115px;
	font-size: 80px;
	color: crimson;
	font-family: "Clicker Script", cursive;
	opacity: 0.9;
	display:inline-block;
    -webkit-transform:scale(1.5,1); /* Safari and Chrome */
    -moz-transform:scale(1.5,1); /* Firefox */
    -ms-transform:scale(1.5,1); /* IE 9 */
    -o-transform:scale(1.5,1); /* Opera */
    transform:scale(1.5,1); /* W3C */
    position: relative;
}

#button{
	float:right;
	margin-right: 20px;
	margin-top: -10px;
	padding: 4px 10px 2px;
	font-family: 'Clicker Script', cursive;
	font-size: 15px;
	font-weight: 700;
	color: white;
	border: none;
	border-bottom: 2px solid #00a37a;
	text-shadow: 0px -1px #333333;
/*would be removed for JS transition*/
	background-color: #00CC99;
	border-radius: 5px;
}

/* I would really prefer to use :active here for accessability, 
but it didn't work! */

#button:focus{
	outline: none !important;
}

/* //Transition attempt based on JS */

/*#button.yellow{
	background-color: yellow;
	border-radius: 30px;
	transition-property: background-color, border-radius;
	-webkit-transition: 2s ease-out;
	-moz-transition: 2s ease-out;
	-o-transition: 2s ease-out;
	transition: 2s ease-out;
}

#button.green{
	background-color: #00CC99;
	border-radius: 5px;
}*/

p#est{
	clear:both;
	float: right;
	margin-top: 35px;
	margin-right: 20px; 
	font-family: "Clicker Script", cursive;
	color: crimson;
	font-size: 25px;
	font-weight: bolder;
}

#uLineJ{
	margin-top: -50px;
	margin-left: 10px;
	height: 5px;
	border-bottom: 2px solid crimson;
	border-left: 2px solid crimson;

}

#uLine1{
	margin-top: -7px;
	margin-left: 260px;
	border-bottom: 1px solid crimson;
	
}
#uLineR{
	margin-top: -12px;
	margin-left: 100px;
	height: 5px;
	border-bottom: 2px solid crimson;
	border-left: 2px solid crimson;
}

#uLine2{
	margin-top: -7px;
	margin-left: 260px;
	border-bottom: 1px solid crimson;
}

#uLineS{
	margin-top: -13px;
	margin-left: 230px;
	height: 5px;
	border-bottom: 2px solid crimson;
	border-left: 2px solid crimson;
}

#topImage{
	clear:both;
	float: left;
	margin-top: 140px;
	margin-left: 20px;
	
}

#quote{
	font-family: "Give You Glory";
	font-size: 40px;
	color: ;
	margin-top: 200px;
	margin-left: 230px;
	margin-bottom: 100px;
	float: left;
}

#vid{
	float: right;
	margin-top: -20px;
	margin-right: 30px;
	width: 600px;
	opacity: 1;
}

figcaption{
	text-align: center;
	font-size: .5em;
	color: gray;

}

li{
	list-style: none;
	transform: rotate(-10deg);
	line-height: 3;
	padding-bottom: 0;
}

a:link{
	color: #00CC99;
	text-decoration: none; border-bottom: 4px double;
}

nav#menu{
	display: block;
	float: left;
	margin-top: -50px;
	margin-left: 30px;
	font-family: "Clicker Script", cursive;
	font-size: 40px;
}

footer{
	text-align: center;
	font-size: 25px;
	width: 1280px;
	height: 116px;
	background-color: crimson;
	opacity: 0.8;
	color: white;
	font-family: "Clicker Script", cursive;
	column-count:3;
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-rule: 1px solid white;
    -webkit-column-rule: 1px solid white;
    -moz-column-rule: 1px solid white;
    column-gap: 40px;
    -webkit-column-gap: 40px;
    -moz-column-gap: 40px;
}

#copy{
	line-height: 10px;
	font-size: 15px;
	text-align: left;
}

#styles{
	line-height: 47px;
}

#mailing, #inspire{
	line-height: 91px;
}

#bgLettering{
	margin-top: -100px;
	margin-left: 200px;
	opacity: 0.08;
	font-family: "Clicker Script", cursive;
	font-size: 700px;
	color: crimson;
	position: absolute;
	transform: rotate(-10deg);
}