<!DOCTYPE HTML>
<html>
	<head>
		<title>Migrash Farm</title>
		<link rel='stylesheet' href='css/style.css'>
		<link href='https://fonts.googleapis.com/css?family=Amatic+SC|Homemade+Apple|Reenie+Beanie|Leckerli+One|Just+Me+Again+Down+Here|Sue+Ellen+Francisco|Over+the+Rainbow|League+Script' rel='stylesheet' type='text/css'>
	</head>

	<body>
		<header><p>Migrash Farm</p></header>
		<div id='body'>
			{{{body}}}
		</div>	

	</body>	

</html>