<div class='page'>

	<p class='title'>{{title}}</p>

	<div class='cats'>

		</br>

		<p class='cat1'>{{service1}}</p>
		<p class='catDescript'>Specializing in styling that will make your wedding day truly special. </br>Starting at $160 and up.</p>

		</br>

		<p class='cat1'>{{service2}}</p>
		<p class='catDescript'>Don't leave out the most important detail!   We will have your nails looking fierce with an unforgettable unique style. </br>Starting at $55 and up.</p>

		</br>

		<p class='cat1'>{{service3}}</p>
		<p class='catDescript'>Flawless professional make-up, from natural soft styles to edgy avant-garde. </br>Starting at $110 and up.</p>

	</div>
		
</div>	
